/*
 * App Custom App variables SCSS
 * ----------------------------------------------------------------------------
 * Place here all custom app variables.
 */

 $brand-color: #00874e;
 $moorbe1: #00874e;
 $moorbe2: #00663c;
 $modo-osucuro1: #191E27;
 $modo-osucuro2: #13162A;

 $background-color-dark: #191E27;
 $ion-item-background-dark: #191E27;

 $core-login-hide-need-help: true !default;
 $core-login-hide-qrcode: true !default;
 $core-fixed-url: true !default;
 $core-dashboard-logo: true !default;
